<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Settings - Account</title>
    </head>
    <body>
        <center>
            <h1>Your account has been deleted.</h1>
            <br />
            <h2><button onclick="redirectIndex()">Go to index</button></h2>
        </center>
    </body>

    <script>
        function redirectIndex() {
            window.location.href = "/";
        }
    </script>
</html>
