<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>B</title>
    </head>
    <body>
        <h1>Express</h1>
        <h3>Welcome to Bingle Shop</h3>
        <br />
        <h3>
            <button onclick="redirectLoginPage()">Login</button> ||
            <button onclick="redirectRegisterPage()">Register</button>
        </h3>
    </body>

    <script>
        function redirectLoginPage() {
            window.location.href = "/login";
        }
        function redirectRegisterPage() {
            window.location.href = "/register";
        }
    </script>
</html>
