<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login - BingleShop</title>
    </head>
    <body>
        <center>
            <form action="/login" method="post">
                <label for="email">Email</label>
                <br />
                <input type="email" name="email" placeholder="Input your email" />
                <br />

                <label for="password">Password</label>
                <br />
                <input type="password" name="password" placeholder="Input your passwrd" />
                <br />

                <button type="submit">Submit</button>
            </form>
        </center>
    </body>
</html>
